@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* font-family: 'Roboto Slab', serif; */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  transition: all 0.5s;
}
html {
  scroll-behavior: smooth;
}


/* Header */

header {
  font-family: 'Pacifico', cursive;
  padding: 10px 20px;
  background-color: rgb(230, 230, 230);
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 2px 3px black;
}

.main-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header ul {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

nav li {
  border: none;
  padding: 10px 10px;
  margin-right: 20px;
  border-radius: 5px;
}

nav li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 15px;
  font-size: 20px;
}

nav li a:hover {
  color: #cd8d098f;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.active {
  background-color: #cd8d098f;
}

.toggle-menu {
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1;
  top: 35px;
  right: 0;
  display: none;
}

.toggle-menu::before{
  position: absolute;
  content: "";
  height: 5px;
  width: 25px;
  background-color: rgb(0, 0, 0);
  border-radius: 6px;
  box-shadow: 0px 10px 0px rgb(0, 0, 0);
  transform: translateY(-10px);
  transition: 0.5s;
}

.toggle-menu.activer::before{
  transform: translateY(0) rotate(-45deg);
  box-shadow: 0 0px 0 rgb(0, 0, 0);
}

.toggle-menu::after{
  position: absolute;
  content: "";
  height: 5px;
  width: 25px;
  background-color: rgb(0, 0, 0);
  border-radius: 6px;
  transform: translateY(10px);
  transition: 0.5s;
}

.toggle-menu.activer::after{
  transform: translateY(0) rotate(45deg);
  
}

/* Header responsive */

@media (max-width:1100px) {
  header {
    padding: 0px;
  }
  .toggle-menu {
    display: block;
  }
  .main-head {
    display: block;
    padding: 10px 20px;
  }
  header ul {
    display: block;
    position: absolute;
    margin: 10px 0px 0px 0px;
    padding: 0;
    right: -150%;
  }
  nav li {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: rgb(199, 199, 199);
    width: 100vw;
    border-radius: 0px;
  }
  nav li a {
    padding: 0px;
  }
  .active {
    background-color: #cd8c09;
    display: flex;
    justify-content: center;
  }
  header .menu.responsive {
    right: 0%;
  }
}

/* Accueil */

#accueil {
  background-color: rosybrown;
  position: relative;
  border-radius: 0% 50% 0% 0% / 0% 50% 0% 0% ;
}

#women {
  height: 75vh;
  position: absolute;
  bottom: 0px;
  left: 0;
}

#accueil h1, #services h1, #propos h1, #pack h1 {
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  color: #6c2626;
}

#accueil p {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}

#fleur {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 25%;
  bottom: 5%;
}

.btns {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  color: #6c2626;
  border: 1px solid #6c2626;
  border-radius: 50px;
  text-decoration: none;
  line-height: 1rem;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
}

.btns-outline {
  padding: 5px 10px 5px 0;
  position: relative;
}

.btns-outline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  background-color: #6b0d0d;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
}

.btns i {
  margin-right: 2rem;
  font-size: 2.5rem;
  color: white;
  z-index: 1;
}

.btns-outline:hover::before {
  width: 100%;
  z-index: -1;
}

.btns-outline:hover {
  color: white;
  z-index: 1;
}

@media (max-width:1399px) {
  .presentation {
    text-align: center;
  }
  .btns {
    left: 50%;
    transform: translate(-50%);
  }
  #women {
    height: 45vh;
  }
  .presentation {
    position: absolute;
    top: 30%;
  }
}

@media (max-width:800px) {
  .women {
    display: none;
  }
  .presentation p {
    margin-bottom: 2rem;
  }
}

@media (max-width:499px) {
  #accueil h1 {
    font-size: 40px;
  }
  .btns {
    width: 280px;
    padding-left: 5px;
  }
  .btns-outline::before {
    width: 50px;
  }
}


/* Services */

#services {
  position: relative;
  background: url("./images/services/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

#services h2 {
  font-family: 'Roboto Slab', serif;
}

#services img {
  height: 100px;
  width: 100px;
}

.proposition {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 20px 0px 10px 0px;
  margin: 0px 20px 0px 20px;
  background-color: #fffcf6;
}

.proposition:hover {
  background-color: #ffc7c7;
}

#services p {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  font-weight: 600;
  color: #6c2626;
  font-size: 1.3rem;
}

#services > img {
  position: absolute;
  height: 200px;
  width: 200px;
  top: 8%;
  right: 50px;
  border-radius: 50%;
}

@media (max-width:991px) {
  #services > img {
    top: 3%;
    height: 130px;
    width: 130px;
  }
}

@media (max-width:800px) {
  #services > img {
    display: none;
  }
}


/* A propos */

#propos {
  background-color: #d18383;
}

.prestation {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 500;
}

#propos h2 {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  color: #6c2626;
}

#propos img {
  width: 250px;
  height: 250px;
  border: 5px solid rgb(201, 201, 201);
  box-shadow: 0px 5px 8px 1px black;
}

#propos h3 {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  color: #6c2626;
  background-color: rgb(232 200 213);
  max-width: 400px;
  width: 100%;
}

.fille p {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #e9e9e9;
  max-width: 400px;
  width: 100%;
}

.centrer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width:499px) {
  #propos h1 {
    font-size: 40px
  }
  #propos h2 {
    font-size: 32px;
  }
}


/* Pack */

#pack {
  background: url("./images/pack/promotion.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.choix {
  position: relative;
  width: 300px;
  height: 450px;
  border-radius: 20px;
  padding: 20px 20px;
  background: linear-gradient(0.5turn, rgb(0 0 0 / 32%),90%,#f69d3c);
}

.silver h3 {
  color: rgb(219, 219, 219);
}
.gold h3 {
  color: rgb(238, 199, 23);
}
.diamond h3 {
  color: #B9F2FF;
}

#pack ul {
  padding-left: 0px;
}

.choix img {
  width: 30px;
  height: 30px;
}

.choix .yes {
  color: #6b0d0d;
  font-size: 18px;
  font-weight: bold;
}

.choix .no {
  color: #ccbd7b;
  font-size: 18px;
  font-weight: bold;
}

.choix h3 {
  font-size: 30px;
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
}

#pack button {
  width: 150px;
  padding: 8px 15px;
  border: none;
  background-color: #6b0d0d;
  border-radius: 20px;
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
}

#pack button a {
  text-decoration: none;
  color: white;
}

#pack button:hover {
  background-color: #e7ac52;
}

#pack .centrer-row {
  display: flex;
  justify-content: center;
}

@media (max-width:499px) {
  #pack h1 {
    font-size: 40px;
  }
}